#root {
  --hot-pink: #f72585ff;
--pink-purple: #b5179eff;
--purple: #7209b7ff;
--purple-2: rgba(142, 57, 240, 0.849);
--blue: #480ca8ff;
--deep-blue: rgb(100, 76, 238);
--cobalt-blue: #3f37c9ff;
--ultramarine-blue: #4361eeff;
--sky-blue: #4895efff;
--baby-blue: #4cc9f0ff;
}

.App{
  background-color: var(--deep-blue);
  
}

header{
  color: var(--hot-pink);
  text-align: center;
  font-size: 60px;
  font-style: oblique;
  font-weight: bolder;
  text-shadow: #b5179eff 2px 2px;
  text-decoration:underline;
}

h1{
  color: var(--pink-purple);
  font-style: oblique;
}


.body{
  background-color: var(--sky-blue);
  margin-bottom:50px;

}


/* .footer{
  background-color: rgb(0, 0, 0);
  position: fixed;
  height: 50px;
  background-color: red;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
} */

button{
  color: var(--purple);
  font-weight: bolder;
  

}